.accordion {
    width: 300px;
    margin: auto;
    border-radius: 5px;
  }
  
  .accordion-header {
    padding: 10px 15px;
    background-color: #f5f5f5;
    cursor: pointer;
    font-weight: bold;
  }
  
  .accordion-header:hover {
    background-color: #eaeaea;
  }
  
  .accordion-content, .filter-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  }
  
  .accordion-content.active, .filter-accordion-content.active {
    max-height: 500px;
  }
  
  .accordion-content p {
    margin: 0;
  }
  
  .filter-accordion-content {
    position:absolute;
  }

  .accordion-item {
    border: none !important;
  }